---
layout: not_homepage
quote: My father wasn't around when I was a kid, and I used to always say, 'Why me? Why don't I have a father? Why isn't he around? Why did he leave my mother?' But as I got older I looked deeper and thought, 'I don't know what my father was going through, but if he was around all the time, would I be who I am today?

author: Lebron James
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Hello! My name is Mary Gentile and I'm studying Human Centered Computing at Rochester Institute of Technology. 
        HCC is a 4-year degree program that combines principles from computing, design, and psychology to advance the ways people and communities interact with modern technology. 
        For more information about my major visit the official <a class="about_me_links" href="http://hcc.rit.edu/">RIT HCC website</a>. 
      </p>
      <p>
      When I first knew I wanted to go into HCC or a UX/UI design related field, it was during my senior year of high school.
       Each year the seniors of the Computer Science pathway at the Milton Hershey School, picked a project for the duration of their last year.
      We decided on working the Vive virtual reality (VR) headset and the starter game that came with it was Starseed: The Gallery, which I had nothing but good things said about it. 
      I was already excited to play my first VR game, but I shocked beyond speechless from the experience. 
      The little bits of humanized interactions, such as reaching behind your back and pulling your hand over your shoulder to open a bookbag inventory system, 
      not only sold me on the game instantly, but made me curious as to, just who exactly, was responsible for this. 
      And thus my eyes were opened to the UX/UI/HUD world. 
      And from that moment on I knew I wanted to be working on stuff like this; making things more enjoyable, more intutive for people to use.
        
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
